<ion-view view-title="aBV Projects">
  <ion-content>
    <!--<div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </div>-->
    <ul class="list">
    <div class="item item-divider">
      My Projects
    </div>
      <li class="item item-toggle" ng-repeat="p in projects">
        <h4>{{p.name}}</h4>
        <p>Project Number: {{p.number}}</p>
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </ul>
  </ion-content>
</ion-view>
