<ion-view view-title="aBV Traffic Management" cache-view="false">
  <ion-content>
    <div class="item item-divider">
        <div>
            My Projects
        </div>
        <h6>
            (select a project to begin an Inspection)
        </h6>
    </div>
    <div>
        <h4 class="empty-content"
               ng-if="vm.myProjects == '' || !vm.myProjects"
               ng-hide="vm.showSearch"
               ng-click="vm.addProjects()">
               <i class="button-clear ion-plus-round"></i>Add your projects to begin
        </h4>
    </div>

    <ion-item class="item"
                    type="item-text-wrap"
                    ng-repeat="p in vm.myProjects"
                    ng-click="openReportModal(p)"
                    ng-show="p.show">
        <h4>{{p.projectName}}</h4>
        <p>Project Number: {{p.projectId}}</p>
    </ion-item>
  </ion-content>
</ion-view>
