<ion-view view-title="aBV Traffic Management" cache-view="false">
<ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-exit"
                 ng-click="vm.logout()">
    </button>
</ion-nav-buttons>
  <ion-content>
    <div class="item item-divider">
        <div>
            My Projects
        </div>
        <h6>
            (click a project to begin an Inspection)
        </h6>
    </div>
    <div>
        <h4 class="empty-content"
               ng-if="vm.myProjects == '' "
               ng-hide="vm.showSearch"
               ng-click="vm.addProjects()">
               <i class="button-clear ion-plus-round"></i>Add your projects to begin
        </h4>
    </div>

    <ion-item class="item-remove-animate item-icon-right"
                    type="item-text-wrap"
                    href="#/tab/inspection/{{p.id}}/{{p.projectName}}"
                    ng-repeat="p in vm.myProjects"
                    ng-show="p.show">
        <h4>{{p.projectName}}</h4>
        <p>Project Number: {{p.projectId}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive">
            Delete
        </ion-option-button>
    </ion-item>
  </ion-content>
</ion-view>
