<ion-view view-title="aBV Projects" cache-view="false">
<ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-trash-outline"
                 ng-hide="vm.showSearch"
                 ng-click="vm.showDelete = !vm.showDelete">
    </button>
</ion-nav-buttons>
<ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-ios-search-strong"
                  ng-click="vm.showSearch = !vm.showSearch; vm.showDelete = false; vm.scrollToTop()">
    </button>
</ion-nav-buttons>
<ion-content>
<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="vm.doRefresh()">
</ion-refresher>
    <div class="bar bar-header item-input-inset" ng-show="vm.showSearch">
        <label class="item-input-wrapper search">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search"
                       placeholder="Search for new projects"
                       ng-model="search">
        </label>
    </div>
    <div class="item item-divider" ng-hide="vm.showSearch">
        <div>
            My Projects
        </div>
        <h6>
            (toggle to display on home screen)
        </h6>
    </div>
    <div>
        <h4 class="empty-content"
               ng-if="vm.myProjects == '' "
               ng-hide="vm.showSearch"
               ng-click="vm.showSearch = !vm.showSearch">
               <i class="button-clear ion-ios-search-strong"></i>Search for you projects
        </h4>
    </div>
    <ion-list ng-hide="vm.showSearch" show-delete="vm.showDelete">
        <ion-item class="item item-toggle"
                        ng-repeat="p in vm.myProjects | orderBy: 'projectId' ">
            <ion-delete-button class="ion-minus-circled trash-icon"
                                          ng-click="vm.removeMyProjects(p.id)">
            </ion-delete-button>
            <h4>{{p.projectName}}</h4>
            <p>Project Number: {{p.projectId}}</p>
            <label class="toggle toggle-positive" >
                <input type="checkbox" ng-checked="p.show" ng-click="vm.toggleHomeScreen(p.id)">
                <div class="track">
                   <div class="handle"></div>
                </div>
            </label>
        </ion-item>
    </ion-list>
    <div class="item item-divider" ng-show="vm.showSearch">
        All Projects
    </div>
    <ion-list ng-show="vm.showSearch">
        <ion-item class="item"
                        ng-click="vm.addToMyProjects(p.id); vm.showSearch = !vm.showSearch; vm.scrollToTop()"
                        ng-repeat="p in vm.projects | orderBy: 'projectId' | filter:search:strict ">
            <h4>{{p.projectName}}</h4>
            <p>Project Number: {{p.projectId}}</p>
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>
