<ion-view view-title="Settings">
  <ion-content>
    <!--<div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </div>-->
   <div class="item item-divider">
      Network
    </div>
      <ion-list >
      <ion-item class="item item-toggle">
                <h2>Wifi uploads only</h2>
                <p>Prevents uploading over 3G and 4G</p>
                <p>and saves data allowance </p>
                <p></p>
                <label class="toggle toggle-positive" >
                  <input type="checkbox" ng-checked="vm.wifiOnly" ng-click="vm.updateNetwork()">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
      </ion-item>
      </ion-list>
   <div class="item item-divider">
      Report Version
    </div>
      <ion-list >
      <ion-item class="item item-toggle">
                <h2>Use Current IMS report</h2>
                <p>Toggle to use the new updated</p>
                <p>Inspection report </p>
                <p></p>
                <label class="toggle toggle-positive" >
                  <input type="checkbox" ng-checked="vm.imsReport" ng-click="vm.updateImsReport()">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
      </ion-item>
      </ion-list>
    <div class="item item-divider">
      Projects
    </div>
      <ion-list >
      <ion-item class="item item-icon-right"
                href="#/tab/projects">
                <h2>Add Projects</h2>
                <p>Add Projects to your Dashboard</p>
                <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      </ion-list>
    <div class="item item-divider">
      Inspections
    </div>
      <ion-list >
      <ion-item class="item item-icon-right"
                href="#/tab/completed">
                <h2>Completed Inspections</h2>
                <p>View Completed Inspections</p>
                <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
