/* Empty. Add your own CSS if you like */
.button-answer {
    width: 32%;
    margin-top: 15px;
}

.button-camera {
    margin-top: 05px;
    padding-left: 20px;
    color: #9C9C9C;
}

.item-divider {
    background-color: #BDBDBD;
}

ion-tabs.tabs-color-active-stable .tab-item {
    color: #fff;
}

.list {
    padding-top: 0;
}

.question-action {
    color: grey !important;
}

.ion-footer {
    border-width: 0px;
}

.ion-footer-icon {
    font-size: 50px !important;
}

.survey-thumbnail {
    width: 90px;
    height: 90px;
}

.empty-content {
    text-align: center;
    padding-top: 50%;
    color: #b2b2b2;
    width: 75%;
    margin: 0 auto;
}

.empty-inspections {
    text-align: center;
    padding: 10px;
    color: #b2b2b2;
    width: 75%;
    margin: 0 auto;
}

.comments {
    width: 100%;
}

.button-half {
    width: 45%;
}

.button-right {
    float: right;
}

.complete-item {
    margin-left: 10px;
    margin-right: 10px;
}

.summary-title {
    font-size: 14px;
    font-weight: 900;
}

.summary-detail {
    font-size: 10px;
    font-weight: 900;
}

.card .item:first-child {
    background-color: #387ef5;
    color: white;
}

.item h2:last-child {
    color: white;
}

.card .item {
    color: #387ef5;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
    margin-top: 2px !important;
}

.item:last-child, .list-inset .item:last-child {
    background-color: white;
}
