/* Empty. Add your own CSS if you like */
.button-answer {
    width: 40%;
    margin-top: 15px;
}

.button-camera {
    margin-top: 05px;
    padding-left: 20px;
    color: #9C9C9C;
}

.item-divider {
    background-color: #BDBDBD;
}

ion-tabs.tabs-color-active-stable .tab-item {
    color: #fff;
}

.list {
    padding-top: 0;
}