/* Empty. Add your own CSS if you like */
.button-answer {
    width: 32%;
    margin-top: 15px;
}

.button-camera {
    margin-top: 05px;
    padding-left: 20px;
    color: #9C9C9C;
}

.item-divider {
    background-color: #BDBDBD;
}

ion-tabs.tabs-color-active-stable .tab-item {
    color: #fff;
}

.list {
    padding-top: 0;
}

.question-action {
    color: grey !important;
}

.ion-footer {
    border-width: 0px;
}

.ion-footer-icon {
    font-size: 50px !important;
}

.survey-thumbnail {
    width: 90px;
    height: 90px;
}

.empty-content {
    text-align: center;
    padding-top: 40px;
    color: #b2b2b2;
}
